# Archivos de este proyecto en particular
config.yml
Gemfile.lock
.bundle/config
dump.rdb
*.gem

# Pre-requisitos
*.d

# Archivos de objetos compilados
*.slo
*.lo
*.o
*.obj

# Cabeceras precompiladas
*.gch
*.pch

# Bibliotecas compiladas dinámicamente
*.so
*.dylib
*.dll

# Archivos de módulo de Fortran
*.mod
*.smod

# Bibliotecas compiladas estáticamente
*.lai
*.la
*.a
*.lib

# Ejecutables
*.exe
*.out
*.app

# Python
__pycache__
*.pyc

# Látex
*.aux
*.log
*.synctex.gz
*.toc

# PDF
*.pdf

# swap de vim
*.swp

# vagrant folder
.vagrant

# byebug debugger
*byebug*

# tremenda basura de macbook
.DS_Store

# Área de trabajo de VScode
.vscode
