# Archivos de este proyecto en particular
config.yml
Gemfile.lock
.bundle/config

# Pre-requisitos
*.d

# Archivos de objetos compilados
*.slo
*.lo
*.o
*.obj

# Cabeceras precompiladas
*.gch
*.pch

# Bibliotecas compiladas dinámicamente
*.so
*.dylib
*.dll

# Archivos de módulo de Fortran
*.mod
*.smod

# Bibliotecas compiladas estáticamente
*.lai
*.la
*.a
*.lib

# Ejecutables
*.exe
*.out
*.app

# Python
__pycache__
*.pyc

# Látex
*.aux
*.log
*.synctex.gz
*.toc